<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="danger" routerLink="/list" (click) = "quit = true;">End</ion-button>
    </ion-buttons>
    <ion-title>
      Head's Up! {{gameMode.difficulty}} Mode
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-label>
    {{currentTime}}
  </ion-label>

  <div>

  </div>

  <ion-label id="test">
    Loading... 
  </ion-label>
  <div>

  </div>
  <ion-button color = "danger" (click) = wrong() >Wrong</ion-button>
  <ion-button color = "secondary" (click) = right()>Correct</ion-button>

  <ion-label *ngIf="currentTime === 0">DONE!</ion-label> 

</ion-content>
