<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Game Select
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <ion-item>
    <ion-label>Difficulty: </ion-label>
      <ion-select name="diff-setting" placeholder="{{gameModes[0].difficulty}}" [(ngModel)] = "selected" ok-text="Okay" cancel-text="Dismiss">
        <ion-select-option *ngFor="let item of gameModes" [value] ="item">{{item.difficulty}}</ion-select-option>
      </ion-select>
  </ion-item> 


  <ion-item>
    <ion-label>Timer Length: </ion-label>
    <ion-input name="timer-setting" placeholder="{{timer}}" [(ngModel)]="timer"></ion-input>
    <ion-label>seconds</ion-label>
  </ion-item>

  <ion-button href="/game/{{selected.difficulty}}/{{timer}}/">
    Practice Now!
  </ion-button>

  
  

  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
