<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home - Tutorial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>How to Play:</h1>
  <ul>
    <li>Navigate to a category to play on the list page</li>
    <li>Press a category to play the fingerspelling game</li>
    <li>Hold the phone over your head and let the other player fingerspell the word to you</li>
    <li>If you get it right, shake the phone upwards. If you get it wrong, shake it downwards</li>
    <li>When the timer runs out, your turn is over! Check back to see how well you did.</li>
    <li>Updated</li>
  </ul>
  
  
  
</ion-content>
